<h1 class="text-center">cycling's always a good idea</h1>
<%= link_to("new", new_group_path, class: "btn btn-default" ) %>

<div>
  <table class="table table-hover">
    <thead>
      <th>#</th>
      <th>Title</th>
      <th>Description</th>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td>#</td>
          <td><%= link_to group.title, group_path(group) %></td>
          <td><%= group.body %></td>
          <td>
            <% if group.editable_by?(current_user) %>
              <%= link_to("edit", edit_group_path(group), class: "btn btn-default btn-sm") %>
              <%= link_to("remove", group_path(group), method: :delete,
              data: {confirm: "Sure?"},class: "btn btn-default btn-sm") %>
            <% end %>
          </td>
          <% end %>
        </tr>
    </tbody>
  </table>
</div>
